.pokemon{
  flex-basis: 20%;
  display: flex;
  height: 300px;
  width: 200px;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.pokemon img{
  height: 200px;
  /* border: 1px solid red; */
  border-radius: 20px;
  width: 200px;
}

.pokemon img:hover{
  background-color: rgb(202, 230, 216);
  transition: background-color 0.4s ease;
}

/* .pokemon img:hover{

} */


.pokemon-name{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 20px;
  font-size: 15px;
  text-decoration: none;
  letter-spacing: 6px;
  text-transform: uppercase;
  font-weight: 500;
}